@{
    
}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>3SUM Entertainment</title>
        <link href="home.css"  rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
    </head>
    <script type="text/javascript">


        $(document).ready(function () {
            var $Mluja = document.getElementById('#Mluja')
            $social1 = document.getElementsByClassName('.social1');
            $social1.hide();

            $Mluja.mouseenter(function () {
                $social1.toggle();
            });
        });

    </script>
    <body>
         <div id="Mluja"><p>Dj Diamond Deep</p></div >

         <div class="social1">
             <div id="fb1"></div>
             <div id="twt1"></div>         
         </div>

         <div  id="Ndura"><p>Ndumiso</p></div >

            <div class="social2">
              <div id="fb2"></div>
              <div id="twt2"></div>         
            </div>
         <div  id="Aya"><p>Aya</p></div >

            <div class="social3">
              <div id="fb3"></div>
              <div id="twt3"></div>         
            </div> 

        <div class="main">
        <div class="content"><p>BOOK 3SUM</p></div>
        <div class="content2"><p>ABOUT US</p></div>
        <div class="content3"><p>GALLERY</p></div>
        <div class="content4"><p>TALK TO US</p></div>
       </div>
     </body>   
    
</html>
